Django==4.2.7
djangorestframework==3.14.0
llmlingua==0.2.2
spacy==3.8.4
requests==2.32.3
streamlit>=1.18.0
python-dotenv==1.0.1
langchain-openai==0.3.4
langchain-pinecone==0.2.2
langchain-huggingface==0.1.2